body {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  font-family: 'Courier New', Courier, monospace;
}

div {
  padding: 20px;
  width: 60vw;
  line-height: 30px;
}


.context {
  margin: 0 auto;
  width: 55vw;
  font-size: 1.2em;
  border-top: 2px solid green;
}

.wrapper>div:last-of-type {
  border-bottom: 2px solid green;
}

.context:hover {
  background-color: aliceblue
}

.btn-submit {
  display: inline-block;
  margin: 0 0.3em 0.3em 0;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #FFFFFF;
  background-color: #4eb5f1;
  text-align: center;
  transition: all 0.2s;
  vertical-align: middle;
  border: none;
  width: 30px;
  height: 30px;
}

.btn-submit:hover {
  background-color: #4095c6;
}

.btn-submit:active {
  background-color: #4064c6;
}

@media all and (max-width:30em) {
  .btn-submit {
    display: block;
    margin: 0.2em auto;
  }
}


.error {
  display: block;
  color: red;
  width: 100%;
  padding: 0;
}

.output {
  font-weight: bold;
  font-style: italic;
  background-color: bisque;
  padding: 5px;
}

span.st-icon {
  position: relative;
  cursor: pointer;
  top: 5px;
  right: 20px;
}


span.st-icon:hover {
  color: green;
}

.show-modal {
  border: none;
  border-radius: 10rem;
  cursor: pointer;
}

.show-modal:hover {
  color: #0066A2;
}

.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.hidden {
  display: none;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  max-height: 100vh;
  overflow-y: auto;
  background-color: white;
  padding: 3rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  font-size: 23px;
  line-height: 1.7;
  font-family: 'Fragment Mono', monospace;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.info-code {
  white-space: pre;
}

.input_value {
  padding: 5px;
  width: 120px;
  text-align: center;
  font-size: 16px;
}

.popup {
  position: absolute;
  width: 165px;
  height: 50px;
  color: #D8000C;
  background-color: #FFBABA;
  background-image: url(img/delete_icon-icons.com_74434.png);
  border: 1px solid;
  margin: 10px 0px;
  padding: 0px 0px 0px 48px;
  background-repeat: no-repeat;
  background-position: 10px center;
  border-radius: 45px;
  line-height: 3;
}

#from, #to {
  width: 50px
}

input:hover {
  border-color: aliceblue;
}

.st-output {
  font-weight: 800;
  font-size: 25px;
  vertical-align: middle;
  text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
  background-color: transparent
}